extends layout

block content
  //-h1= title
  //-p Welcome to #{title}
  .row.py-3
    h1.pl-3.ca-header-font                                                                                         Concept Luxury
    p.lead.pl-4.pt-2.ca-header-font All you need for your Money!  
  br
  br
  br
  a.container
    center
        img.center-block(src="images/1.jpg" alt="Image Title")
  br
  br
  br
  br
  br
  h1.ca-header-font                                                                                     Checkout our Latest Collection Now!!
