extends layout

block content
  h1(class="text-center")  Luxury toys just for YOU
  .container-fluid.pl-5
    .row
      .col-12.col-md-3
        p Products List
  .container-fluid.pl-5  
    .row
      .card.mt-2.col-xl-3
        .card-body.col-xl-8
          h4.card-title GUCCI UNISEX SHOES
          center
            img.center-block(src="images/2.jpg" alt="Image Title" width='400' height='400')
          br
          a.card-link.btn.btn-primary.float-top(href='https://www.gucci.com/ca/en/pr/men/mens-shoes/mens-sneakers/leather-high-top-with-tiger-p-449991BXO001000?position=103&listName=PGUS4Cols&categoryPath=Men/Mens-Shoes/Mens-Sneakers' ) Info
        
      .card.mt-2.col-xl-3
        .card-body.col-xl-8
          h4.card-title Iphone X
          br
          br
          br

          center
            img.center-block(src="images/3.jpg" alt="Image Title" width='400' height='300')
          br

          br
          a.card-link.btn.btn-primary.float-top(href='https://www.apple.com/ca/iphone-x/' ) Info

      .card.mt-2.col-xl-3
        .card-body.col-xl-8
          h4.card-title Saint Laurent Heels
          center
            img.center-block(src="images/4.jpg" alt="Image Title" width='400' height='400')
          br
          a.card-link.btn.btn-primary.float-top(href='http://www.fwrd.com/product-saint-laurent-opium-patent-monogram-heels-in-black-silver/SLAU-WZ277/?d=Womens&currency=CAD&countrycode=CA&gclid=EAIaIQobChMI2P7ErJet1wIV041-Ch0xNwImEAYYBSABEgK47vD_BwE' ) Info




  br
  br
  br
  h3(class="text-center")  Like Our Stuff? Click Contact CEO to book a reservation to view items